@import url('https://fonts.googleapis.com/css2?family=Source+Sans+3:wght@500;700&display=swap');


#VideoAulaSec{
    height: auto;
    background-color: #513C7A;
}

.VideoAulaHeader{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #3D256B;
    height: 170px;
}

.MenuVideoAula{
    display: flex;
    justify-content: space-evenly;
    margin: auto;
    text-align: center;
    margin-top: 60px;
}

.MenuVideoAula img{
    width: 35%;
}

.Aulas{
    display: flex;
    justify-content: space-evenly;
    text-align: center;
    margin-top: 80px;
    flex-wrap: wrap;
   
}

.imagem-decoracao{
    width: 7%;
    height: 10%;
}

.Aula video{
    width: 85%;
}

.Aula p{
    font-family: "Source Sans 3";
    font-weight: 700;
}

.Marinho{
    width: 85%;
    background-color: #67EFF5;
    margin: auto;
}

.Limao{
    width: 85%;
    background-color: #C3FB65;
    margin: auto;
}

.laranja{
    width: 85%;
    background-color: #FE8804;
    margin: auto;
}

.Rosa{
    width: 85%;
    background-color: #FF5ADF;
    margin: auto;
}

.roxo{
    width: 85%;
    background-color: #960ECB;
    margin: auto;
}

.imagens-decoracao{
    display: flex;
    justify-content: space-evenly;
    margin-top: 120px;
    background-color: #d9d9d923;
}

.imagens-decoracao img{
    width: 8%;
}

@media (max-width:768px){

    .Aulas{
        height: 500px;
    }

    .MenuVideoAula img{
        width: 50%;
    }

    .imagem-decoracao{
        display: none;
    }
}

@media (max-width:425px){

    .MenuVideoAula img{
        width: 70%;
    }

    .Aula{
        margin: 20px;
    }
    .imagem-decoracao{
        display: none;
    }
}