@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,800;1,700&display=swap');


#Nivel4sec{
    height: auto;
    background-color: #351D67;
    padding-bottom: 50px;
}

.Guia4{
    padding-top: 40px;
}

.Guia4Info{
    margin: auto;
    height: 250px;
    width: 95%;
    background-color: rgba(217, 217, 217, .45);
    border-radius: 35px;
    display: flex;
    justify-content: space-between;
}

.Guia4Textos h2{
    font-family: 'Nunito';
    font-size: 44px;
    color: #03B8F0;
    font-weight: 800;
    text-align: center;
    padding-top: 65px;
    padding-left: 10px;
}

.Guia4Textos p{
    font-family: 'Nunito';
    font-size: 18px;
    text-align: center;
    font-weight: 800;
    color: #fff; 
    padding-top: 40px;
    padding-left: 10px;
    letter-spacing: 4gitpx;
}

.Guia4Textos{
    width: 30%;
}

.Roxo{
    color: #AD54FC;
}

.Amarelot{
    color: #F2FC4F;
}

.Verde{
    color: #5AFC66;
}

.Vermelho{
    color: #F65150;
}

.Laranja{
    color: #F6BA6C;
}

.Roxo{
    color: #AD54FC;
}

.GuiaLink4{
    display: flex;
    align-items: center;
    background-color: rgba(217, 217, 217, .50);
    width: 10%;
    height: 50px;
    justify-content: space-evenly;
    margin-top: 90px;
    margin-right: 50px;
    border-radius: 10px;
    border: 1px solid #000;

}

.GuiaLink4 img{
    width: 25%;
}

.GuiaLink4 a{
    text-decoration: none;
    color: #fff;
    font-family: 'Nunito';
    font-size: 22px;
    font-weight: 800;
}

.trilha4img{
    display: flex;
    position: absolute;
    margin-top: 150px;
    justify-content: right;
}

.trilha4img img{
    width: 35%;
}

.bolastrilha4{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 100px;
    
}

.bolastrilha4 img{
    width: 100px;
    padding-bottom: 60px;
}

#bolaroxa4{
    margin-right: -60px;
}

#bolaamarela4{
    margin-left: -25px;
}

#bolaverde4{
    margin-right: -100px;
}

#bolavermelha4{
    margin-left: -90px;
}

#bolaazul4{
    margin-right: -10px;
}

@media (max-width:768px){

    .GuiaLink4{
        width: 15%;
    }

    .trilha4img {
        margin-top: 350px;
    }
}

@media (max-width:425px){

    .Guia4Textos h2{
        width: 150px;
        font-size: 33px;
    }

    .Guia4Textos p{
        font-size: 14px;
        padding-left: 30px;
        text-align: center;
        width: 100px;
    }

    .GuiaLink4{
        width: 20%;
    }

    .GuiaLink4 a{
        font-size: 16px;
    }

    .trilha4img {
        margin-top: 470px;
    }
}