#Materiais-explicacao{
    height: auto;
    background-image: linear-gradient(to top, #2e094f, #1c0356);
}

.Mate-explicacao{
    width: 100%;
    justify-content: space-evenly;
    display: flex;
    align-items: center;
    padding-bottom: 100px;
}

.livro-imagem img{
    width: 90%;
}

.livro-texto{
    width: 100%;
    font-family: Inter;
    color: #FFD835;
    font-weight: 700;
}

.livro-texto p{
    padding-top: 30px;
    font-size: 20px;
    width: 75%;
    letter-spacing: 1px;
    color: #fff;
    font-weight: 400;
}