#Material-info{
    height: auto;
    background-image: linear-gradient(to top, #1c0357, #15015a);
}

.livro-encostado img{
    width: 30%;
}

.Mate-texto{
    margin: auto;
    font-size: 34px;
    font-weight: 600;
    width: 80%;
    color: #fff;
    font-family: inter;
}

.livro-aberto{
    display: flex;
    justify-content: right;
}

.livro-aberto img{
    width: 26%;
}