@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@700&display=swap');

#Missaosec{
    background-image: linear-gradient(to bottom, #1A0258, #1A0258);
    text-align: center;
    padding-bottom: 120px;
}

.MissaoTitulo img{
    margin: auto;
    width: 90%;
}

.MiViVa{
    width: 100%;
    margin-top: 80px;
    display: flex;
    justify-content: space-evenly;
}

.textos{
    text-align: left;
    color: #fff;
    font-family: Nunito;
    width: 25%;
}

.Imgtextos{
    display: flex;
    align-items: center;
    justify-content: start;
    gap: 10px;
}

.Imgtextos img {
    height: 80px;
}

.yellow{
    color: #FFD835;
}

.Red{
    color: #FF0000;
}

.Cian{
    color: #26BFA6;
}

.texto{
    padding-top: 40px;
}

.texto p{
    font-size: 20px;
}

@media (max-width:425px){

    .MissaoTitulo img{
        width: 98%;
    }

    .MiViVa{
        flex-direction: column;
        jus
    }

    .textos{
        width: 90%;
        margin: auto;
    }
}
