#Principalsec{
    height: 550px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: auto;
    background-image: url(../../assets/images/SobreNos-img/header.page-hero.png);
}