#Principalsec{
    padding-top: 110px;
    height: 550px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: auto;
    background-image: url(../../assets/images/SobreNos-img/header.page-hero.png);
}

@media (max-width:425px){

    #Principalsec{
        height: 59vh;
        background-position: center;
        background-size: 290%;
    }
}

@media (max-width: 375px) {
    
    #Principalsec{
        height: 50vh;
    }
}

@media (max-width: 320px) {
    
    #Principalsec{
        height: 39vh;
    }
}