@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@700&display=swap');

#QuemSomos{
    background-image: linear-gradient(to bottom, #16015A, #190259);
    text-align: center;
    font-family: Nunito;
}

.TituloQuemSomos{
    padding-top: 70px;
}

.TituloQuemSomos img{
    width: 80%;
}


.TituloQuemSomos hr{
    margin: auto;
    height: 7px;
    width: 70%;
    border-radius: 20px;
    border: none;
    background-image: linear-gradient(to right, #1C3380, #9E00AC);
    margin-top: 7px;
}

.Lupa{
    display: flex;
    justify-content: left;
}

.Lupa img{
    width: 20%;
}

.TextoQuemSomos{
    display: block;
    margin: auto;
    width: 70%;
    color: #fff;
    font-size: 50px;

}

.Carasentado{
    display: flex;
    justify-content: right;
}

.Carasentado img{
    width: 30%;
}

@media (max-width:425px){
    
}