#SobreSec{
    height: 500px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-color: #0E2278;
    background-image: url(../../assets/images/SobreNos-img/fundo-mapa.png);
}