@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@700&display=swap');

#SobreSec{
    height: auto;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-color: #0E2278;
    background-image: url(../../assets/images/SobreNos-img/fundo-mapa.png);
}

.SobreTitulo{
    text-align: center;
    padding-top: 50px;
    padding-bottom: 40px;
}

.SobreTitulo img{
    width: 85%;
}

.TextoSobre{
    display: flex;
    margin: auto;
    font-size: 50px;
    width: 80%;
    color: #fff;
    font-family: "Nunito";
}

.Peca-img{
    display: flex;
    justify-content: right;
}

@media (max-width:425px){

    
}