#Parceirossec{
    height: 1200px;
    background-color: #42337C;
}

.Parceirosfileira{
    width: 90vw;
    margin: auto;
    display: flex;
    justify-content: space-around;
}


.Parce img{
    width: 60%;
    padding: 30px;
    background-color: #fff;
    
}