@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600;800&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@700&display=swap');


#Footer-principal{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    text-align: center;
    height: 350px;
    color: #fff;
    background-image: linear-gradient(to top, #12005C, #2F084E);
}

.Links{
    font-family: Nunito;
    font-size: 22px;
}

footer li{
    padding-top: 20px;
    list-style: none;
}

footer a{
    font-size: 18px;
    color: #fff;
    text-decoration: underline;
}

.Redes{
    width: 20%;
    display: flex;
    justify-content: space-evenly;
}

.Redes img:hover{
    transform: scale(1.2);
    transition: .3s;
}

@media (max-width:425px){
    #Footer-principal{
        height: auto;
        padding-top: 100px;
        flex-direction: column;
    }

    .Links{
        padding-bottom: 30px;
    }

    .Redes{
        width: 50%;
    }
}