#Ajudasec{
    display: flex;
    flex-direction: column;
    height: auto;
    background-image: linear-gradient(to right, #190c5e, #371166);
    text-align: center;
}

.ajuda-info{
    font-size: 32px;
    color: #FAB84B;
    font-family: Nunito;
}

.ajuda-info p{
    margin: auto;
    font-size: 28px;
    color: #fff;
    width: 50%;
    padding-top: 40px;
}

.ajuda-contato{
    margin: auto;
    font-size: 32px;
    width: 90%;
    color: #FAB84B;
    font-family: Nunito;
    padding-top: 40px;
}

.Forms-dados{
    margin: auto;
    width: 80%;
    display: flex;
    justify-content: space-evenly;
}

.Forms-dados input{
    height: 40px;
    width: 45%;
    font-size: 22px;
    padding-left: 5px;
    color: #fff;
    background-color: rgba(255, 255, 255, 0.07);
    border: 0.6px solid #FFF;
    border-radius: 4px;
}

.Forms-mensagem{
    margin-top: 20px;
}

.Forms-mensagem textarea{
    height: 200px;
    width: 75%;
    font-size: 24px;
    padding-left: 5px;
    padding-top: 5px;
    color: #fff;
    background-color: rgba(255, 255, 255, 0.07);
    border: .1px solid #FFF;
    border-radius: 4px;
}

.Entre-contato{
    height: 35px;
    width: 30%;
    margin-top: 20px;
    background-color: #FAB84B;
    border: none;
    border-radius: 5px;
}

.Entre-contato a{
    font-size: 28px;
    text-align: center;
    text-decoration: none;
    color: #fff;
}

.ajuda-central{
    margin: auto;
    font-size: 28px;
    color: #fff;
    font-family: Nunito;
    width: 70%;
    padding-top: 70px;
}

.btn-central{
    margin-top: 60px;
    margin-bottom: 60px;
    width: 40%;
    height: 70px;
    font-family: Nunito;
    color: #fff;
    background-image: linear-gradient(to right, #311063, #55228BC4);
    border-radius: 50px;
    border: solid 1px #fff;
    font-size: 26px;
    cursor: pointer;
}

.btn-central a{
    text-decoration: none;
    color: #FFF;
}