#Beneficiossec{
    display: flex;
    flex-direction: column;
    height: auto;
    background-image: linear-gradient(to right, #190c5e, #371166);
    text-align: center;
}

.bene-infos{
    margin: auto;
}

.bene-infos h2{
    text-align: center;
    font-family: Nunito;
    color: #fff;
    font-size: 40px;
    padding-bottom: 60px;
}

.bene-compo{
    margin: auto;
    display: flex;
    justify-content: space-evenly;
    margin-top: 100px;
}

.bene-expli{

    align-items: center;
}

.bene-expli p{
    margin: auto;
    width: 67%;
    font-size: 32px;
    font-family: Nunito;
    color: #fff;
}

.bene-compo img{
    width: 50%;
}