@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@700&display=swap');

#Iniciosec{
    display: flex;
    justify-content: space-evenly;
    height: auto;
    background-image: linear-gradient(to right, #190c5e, #371166);
    font-family: Nunito;
    color: #fff;
    padding-bottom: 100px;
    padding-top: 75px;
}

.Info{
    width: 700px;
    font-size: 20px;
    text-align: center;
    padding-top: 150px;
}

.Yellow{
    color: #DEF00E;
    font-size: 50px;
}

.Blue{
    color: #3BFFFF;
    font-size: 50px;
}

.Pink{
    color: #DC30B6;
    font-size: 50px;
}

.Gold{
    color:#FAB84B;
}

.btn-sobre{
    font-size: 22px;
    font-family: Nunito;
    background-color: transparent;
    color: #fff;
    border-bottom: dashed 1px #fff;
    cursor: pointer;
    transition: .3s;
}

.btn-sobre:hover{
    transform: scale(1.1);
}

.btn-acesso{
    width: 260px;
    padding: 10px;
    font-size: 22px;
    font-family: Nunito;
    letter-spacing: 1.2px;
    background-color: #3DBDB8;
    color: #fff;
    border-radius: 20px;
    cursor: pointer;
    transition: .3s;
}

.btn-acesso:hover{
    transform: scale(1.1);
}

.buttons{
    width: 460px;
    display: flex;
    justify-content: space-evenly;
    padding-top: 50px;
    margin: auto;
    align-items: center;
}

.Prin-image{
    margin-top: 90px;
}

.Prin-image img{
    width: 100%;
    
}