@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@700&display=swap');

#Iniciosec{
    display: flex;
    justify-content: space-evenly;
    height: auto;
    background-image: linear-gradient(to right, #190c5e, #371166);
    font-family: Nunito;
    color: #fff;
    padding-bottom: 100px;
    padding-top: 82px;
}

.Info{
    width: 700px;
    font-size: 20px;
    text-align: center;
    padding-top: 150px;
}

.Yellow{
    color: #DEF00E;
    font-size: 50px;
}

.Blue{
    color: #3BFFFF;
    font-size: 50px;
}

.Pink{
    color: #DC30B6;
    font-size: 50px;
}

.Gold{
    color:#FAB84B;
}