@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@700&display=swap');

#Iniciosec{
    display: flex;
    justify-content: space-evenly;
    height: 540px;
    background-image: url(../../assets/images/home-img/fundo-estrela.png);
    background-position: center;
    background-repeat: no-repeat;
    font-family: Nunito;
    color: #fff;
    padding-bottom: 100px;
    padding-top: 185px;
    
}

.Info{
    width: 700px;
    font-size: 20px;
    text-align: center;
    padding-top: 150px;
}

.Info h1{
    align-items: center;
}

.Yellow{
    color: #DEF00E;
    font-size: 50px;
}

.Blue{
    color: #3BFFFF;
    font-size: 50px;
}

.Pink{
    color: #DC30B6;
    font-size: 50px;
}

.Gold{
    color:#FAB84B;
}

.btn-sobre{
    font-size: 22px;
    font-family: Nunito;
    background-color: transparent;
    color: #fff;
    border-bottom: dashed 1px #fff;
    cursor: pointer;
    transition: .3s;
}

.btn-sobre:hover{
    transform: scale(1.1);
}

.btn-acesso{
    width: 47%;
    padding: 10px;
    font-size: 22px;
    font-family: Nunito;
    letter-spacing: 1.2px;
    background-color: #3DBDB8;
    color: #fff;
    border-radius: 20px;
    cursor: pointer;
    transition: .3s;
}

.btn-acesso:hover{
    transform: scale(1.1);
}

.buttons{
    width: 80%;
    display: flex;
    justify-content: space-evenly;
    padding-top: 50px;
    margin: auto;
    align-items: center;
}

.Prin-image{
    margin-top: 90px;
}

.Prin-image img{
    width: 100%;
    
}

@media (max-width:425px){
    .Prin-image{
        display: none;
    }

    .Info{
        text-align: center;
    }

    .buttons{
        width: 100%;
    }
}