#Metodologiasec{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: auto;
    background-image: linear-gradient(to right, #190c5e, #371166);
}

.titulo{
    margin: auto;
    font-family: Nunito;
    color: #FAB84B;
    font-size: 36px;
    padding-top: 100px;
}

.Cont-meto{
    display: flex;
    justify-content: space-around;
    margin: auto;
}

.Info-meto{
    flex-direction: column;
    margin-top: 100px;
}

.dados{
    display: flex;
    font-family: Nunito;
    color: #fff;
    width: 90%;
    font-size: 25px;
    align-items: center;
}

.dados img{
    padding-right: 50px;
    padding-left: 70px;
    width: 14%;
    height: 100%;
}

.papo{
    display: flex;
    font-family: Nunito;
    color: #fff;
    width: 91%;
    font-size: 25px;
    margin-top: 100px;
    align-items: center;
}

.papo img{
    padding-right: 50px;
    padding-left: 70px;
    width: 14%;
    height: 100%;
}

.img-meto{
    width: 80%;
}

.img-meto img{
    width: 70%;
}

@media (max-width:425px){
    .titulo{
        text-align: center;
        font-size: 24px;
    }

    .img-meto{
        display: none;
    }

    .dados{
        flex-direction: column;
        text-align: center;
        margin: auto;
    }

    .papo{
        padding-top: 70px;
        padding-bottom: 40px;
        flex-direction: column;
        text-align: center;
        margin: auto;
    }

    .dados img{
      padding-bottom: 20px;
    }

    .papo img{
        padding-bottom: 20px;
    }

    .dados h2{
        padding-bottom: 25px;
    }

    .papo h2{
        padding-bottom: 25px;
    }
}