#Newslettersec{
    display: flex;
    flex-direction: column;
    height: auto;
    background-image: linear-gradient(to right, #190c5e, #371166);
    text-align: center;
}

.News-email{
    margin: auto;
    width: 100%;
    text-align: center;
    font-size: 28px;
    color: #fff;
    font-family: Nunito;
}

.News-forms{
    padding-top: 40px;
    margin: auto;
    width: 90%;
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 80px;
}



#Txtemail{
    width: 50%;
    height: 60px;
    border-radius: 28px;
    border: solid 1px #d0d0d0;
    color: #7C7777;
    font-family: Nunito;
    font-size: 20px;
    padding-left: 15px;
    
}

#InsBtn{
    color: #7C7777;
    background-color: #fff;
    border: none;
    border-radius: 28px;
    height: 60px;
    width: 14%;
    font-size: 26px;
    font-family: Nunito;
    cursor: pointer;
}

@media (max-width:425px){
    .titulo{
        font-size: 24px;
    }

    .News-forms{
        width: 100%;
    }

    #Txtemail{
        margin: auto;
        width: 60%;
    }

    #InsBtn{
        width: 20%;
        margin: auto;
        height: 40px;
        font-size: 18px;
    }
}
