@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@800&display=swap');

#Login{
    width: 100%;
    height: 745px;
    background-color: rgb(255, 255, 255);
}
.Principal{
    display: flex;
}
.Astronauta{
    width: 50%;
    height: 745px;
    background-color: #31125A;
}
.Astronauta img{
    width: 80%;
    margin-left: 50px;
    margin-top: 20px;
}
.inserir-dados{
    width:50%;
    height: 745px;
    background-image: linear-gradient(to bottom, #553F7A, #45367C);
}
.inserir-dados p{
    text-align: center;
    font-size: 80px;
    margin-top: 170px;
    font-family: Nunito;
    font-weight: 800;
}
.A{
    color:#03B8F0;
}
.P{
    color:#AD54FC;
}
.C{
    color: #F2FC4F;
}
.S{
    color: #5AFC66;
}
.T{
    color: #FF4B4B;
}
.A2{
    color: #F6BA6C;
}
.R{
    color: #A08FFC;
}
.T2{
    color: #F2FC4F;
}
.Barras{
    width: 50%;
    height: 200px;
    margin: auto ;
    margin-top: 50px;
}
.Email{
    width:100%;
    border: 0px;
    border-radius: 30px;
    padding: 20px;
    font-size: 20px;
}
.Senha{
    width:100%;
    margin-top: 40px;
    border: 0px;
    border-radius: 30px;
    padding: 20px;
    font-size: 20px;
}
.Bola-setas{
    position:absolute;
    width: 5%;
    margin-top: -400px;
    margin-left: 730px;
    
}
.Bola-setas img{
    width: 100%;
}
.registre-se-ou-esqueci-senha{
    display: flex;
    gap: 30px;
    margin-top: 20px;
    margin-left: 240px;
}
.registre-se-ou-esqueci-senha a{
    text-decoration: underline;
    color: #fff;
    font-family: Nunito;
}
.Botao-entrar{
    margin-top: 70px;
    margin-left: 300px;
}
.Botao-entrar input{
    width: 40%;
    padding: 12px;
    border: 0;
    border-radius: 30px;
    color: #fff;
    font-family: Nunito;
    font-size: 36px;
    background-color: #C6A4FF;
    cursor: pointer;
    transition: .3s;
}
.Botao-entrar input:hover{
    transform: scale(1.2);
}