#Login{
    width: 100%;
    height: 745px;
    background-color: rgb(255, 255, 255);
}
.Principal{
    display: flex;
}
.Astronauta{
    width: 50%;
    height: 745px;
    background-color: #31125A;
}
.Astronauta img{
    width: 80%;
    margin-left: 50px;
    margin-top: 20px;
}
.inserir-dados{
    width:50%;
    height: 745px;
    background-color: #A08FFC;
}
.inserir-dados p{
    text-align: center;
    font-size: 80px;
    margin-top: 170px;
}
.A{
    color:#03B8F0;
}
.P{
    color:#AD54FC;
}
.C{
    color: #F2FC4F;
}
.S{
    color: #5AFC66;
}
.T{
    color: #FF4B4B;
}
.A{
    color:#00B8F2;
}
.R{
    color: #070031;
}
.T{
    color: #E7FC39;
}
.Barras{
    width: 50%;
    height: 200px;
    margin: auto ;
    margin-top: 50px;
}
.Email{
    width:100%;
    border: 0px;
    border-radius: 30px;
    padding: 20px;
    font-size: 20px;
}
.Senha{
    width:100%;
    margin-top: 40px;
    border: 0px;
    border-radius: 30px;
    padding: 20px;
    font-size: 20px;
}
.Bola-setas{
    position:absolute;
    width: 5%;
    margin-top: -400px;
    margin-left: 730px;
    
}
.Bola-setas img{
    width: 100%;
}
.registre-se-ou-esqueci-senha{
    display: flex;
    gap: 30px;
    margin-top: 20px;
    margin-left: 240px;
}
.Botao-entrar{
    margin-top: 70px;
    margin-left: 300px;
}
.Botao-entrar button{
    width: 40%;
    padding: 18px;
    border: 0;
    border-radius: 30px;
    color: #000;
    font-size: 20px;
    background-color: #C6A4FF;
    cursor: pointer;
}
.Botao-entrar Button:hover{
    transform: translateX(10px) scale(1.2);
}